body{
    background: color #f4f4f4;;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    padding-bottom: 30px ;
}

#main-header{
    background-color: crimson;
    color: #fff;
}

#main-header h1{
    text-align: center;
    padding-top: 3%;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    padding-right: 15px;
}

a:hover{
    background:green;
}

a:active{
    background: blue;
}

#showcase{
    background-image:url('../images/can2.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase p{
    color:black;
    font-size: 40px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float:left;
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
}

#main li{
     padding-bottom: 8px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

#sidebar{
   font-size: 20px;
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }
}