body{
    background: color #f4f4f4;;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    padding-bottom: 30px ;
}

#main-header{
    background-color: crimson;
    color: #fff;
}

#main-header h1{
    text-align: center;
    padding-top: 3%;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    padding-right: 15px;
}

a:hover{
    background:green;
}

#contact{
    padding: 20px;
    text-align: center;
    background-image: url('../images/can.jpg');
    background-position: center;
    background-size: cover;
}

#contact a {
    color: #333;
    font-size: 20px;
    font-style: oblique;
}

#contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

#contact input, #contact textarea{
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
}

#contact button{
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map{
    margin-top:20px;
}

.social-links{
    margin-top: 20px;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.social-links{
    display: grid;
}

 

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }
}